div#projects.section.projects
  h1 Projects
  div.inner
    div.list
      each project in projects 
        div.project-single.is-collapsed
          div.project-inner
            h2.project-title #{project.title}
            div.image 
              img(src=project.image)
          div.project-expander    
            h3.project-title #{project.title}  
            div.info 
              p #{project.description}    
            div.tech
              h4 Technologies Used:
              p #{project.tech}                                           
          //- img(src=project.image)
      //- each project in projects 
      //-   div.project-single
      //-     h3 #{project.title}
      //-     p #{project.tech}          