div#projects.section.projects
  h1 Projects
  div.inner
    each project in projects 
      div.project-single
        h3 #{project.title}
        p #{project.tech}
        //- img(src=project.image)
    each project in projects 
      div.project-single
        h3 #{project.title}
        p #{project.tech}        